<div class="clo-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in prdCtrl.product.children">
                <td>
                    <input ng-model="product.name" class="form-control" placeholder="Entry with a name" ng-readonly="prdCtrl.tabDelete" />
                </td>
                <td>
                    <input ng-model="product.description" class="form-control" placeholder="Entry with a description" 
                         ng-readonly="prdCtrl.tabDelete"   />
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-disabled="prdCtrl.tabDelete " ng-click="prdCtrl.addChild($index)" >
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-danger" ng-disabled="prdCtrl.tabDelete " ng-click="prdCtrl.deleteChild($index)" >
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
    </table>
</div>
