<div role="form">
    <div class="box-body">
         
            <field id="name" label="Name" grid="6 6 6" placeholder="Entry with a name" model="prdCtrl.product.name" 
                readonly="prdCtrl.tabDelete" ></field>
            <field id="description" label="Description" grid="6 6 6" placeholder="Entry with a description"   model="prdCtrl.product.description" 
                readonly="prdCtrl.tabDelete"></field>
        <hr>

        <div class="col-xs-12 col-sm-6">
            <fieldset>
                <legend>Children</legend>
                <div ng-include="'app/product/children.html'"></div>
            </fieldset>
        </div>
        <div class="col-xs-12 col-sm-6">
            <fieldset>
                <legend>Images</legend>
                <div ng-include="'app/product/images.html'"></div>
            </fieldset>
        </div>

    </div>

    <div class="box-footer">
        <button class="btn btn-primary" ng-if="prdCtrl.tabCreate"    ng-click="prdCtrl.create()" >Add</button>
        <button class="btn btn-info"    ng-if="prdCtrl.tabUpdate"       ng-click="prdCtrl.update()">Update</button>
        <button class="btn btn-danger"  ng-if="prdCtrl.tabDelete"     ng-click="prdCtrl.delete()" >Delete</button>
        <button class="btn btn-default"                             ng-click="prdCtrl.refresh()">Cancel</button>
    </div>

</div>