<div class="clo-xs-12">
    <table class="table">
        <thead>
            <tr>
                <th>type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="image in prdCtrl.product.images">
                <td>
                    <input ng-model="image.type" class="form-control" placeholder="Entry with a type" ng-readonly="prdCtrl.tabDelete" />
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-disabled=" prdCtrl.tabDelete " ng-click="prdCtrl.addImage($index)" >
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-danger" ng-disabled=" prdCtrl.tabDelete "  ng-click="prdCtrl.deleteImage($index)" >
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
    </table>
</div>
