<div class="box-body">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in prdCtrl.products">
                <td>{{:: product.name }}</td>
                <td>{{:: product.description }}</td>
                <td class="table-actions">
                    <button class="btn btn-watning" ng-click="prdCtrl.showTabUpdate(product)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger" ng-click="prdCtrl.showTabDelete(product)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>
            </tr>
    </table>

</div>
