<content-header name="Products" small="Entry"></content-header>


<section class="content">
    <div class="nav-tabs-custom" ng-controller="ProductCtrl as prdCtrl">
        <ul class="nav nav-tabs">
            <li ng-if="prdCtrl.tabList" ng-class="{ active:prdCtrl.tabList  }">
                <a href data-target="#tabList" data-toggle="tab">
                    <i class="fa fa-bars" > </i> List
                </a>
            </li>
            <li ng-if="prdCtrl.tabCreate"> 
                <a href data-target="#tabCreate" data-toggle="tab">
                    <i class="fa fa-plus" > </i> Add
                </a>
            </li>
            <li ng-if="prdCtrl.tabUpdate" ng-class="{ active:prdCtrl.tabUpdate  }" >
                <a href data-target="#tabUpdate" data-toggle="tab"  >
                    <i class="fa fa-pencil" > </i> Update
                </a>
            </li>
            <li ng-if="prdCtrl.tabDelete" ng-class="{ active:prdCtrl.tabDelete }" >
                <a href data-target="#tabDelete" data-toggle="tab"   > 
                    <i class="fa fa-trash-o" > </i> Delete
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" id="tabList" ng-include="'app/product/list.html'"  ng-class="{ active:prdCtrl.tabList  }"
                ng-if="prdCtrl.tabList"></div>
            <div class="tab-pane" id="tabCreate" ng-include="'app/product/form.html'" 
                ng-if="prdCtrl.tabCreate"> </div>
            <div class="tab-pane" id="tabUpdate" ng-include="'app/product/form.html'"  ng-class="{ active:prdCtrl.tabUpdate  }"
                ng-if="prdCtrl.tabUpdate"></div>
            <div class="tab-pane" id="tabDelete" ng-include="'app/product/form.html'" ng-class="{ active:prdCtrl.tabDelete }"
                ng-if="prdCtrl.tabDelete"></div>
        </div>

    </div>
</section>