<section class="sidebar">
	<ul class="sidebar-menu">
		<li class="header">MAIN NAVIGATION</li>

		<li class="treeview">
		   <a href>
		        <i class="fa fa-edit"></i> <span>Entries</span>
		        <i class="fa fa-angle-left pull-right"></i>
		  </a>
		  <ul class="treeview-menu">
		    <li>
		      <a ui-sref="product" ui-sref-active="active" ><i class="fa fa-gift"></i> Products</a>
		    </li>
		  </ul>
		</li>
	</ul>
</section>